html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    color: black;
    background-color: rgb(199, 230, 250);
    max-width: 800px;
    padding: 20px 20px;
    margin: 60px auto;
    overflow-x: auto;
    font-family: "lato", "sans-serif";
}

.dark {
    color: #fff;
    background-color: #222;
}

.highlight {
    color: crimson;
}

.navigation {
    padding: 10px;
    margin: 10px;
    border: 1px solid black
}

.navigation__list {
    list-style: none;
    padding-left: 0;
}

.navigation__item {
    margin: 10px;
}

.navigation__subItem {
    margin: 10px;
    text-indent: 1cm;
}

.navigation__link {
    text-decoration: none;
    color: teal;
}

.navigation__link--kontakt {
    color: lightcoral;
    font-weight: 700;
    border-style: 1px solid black;
    text-decoration: none;
}

.navigation--dark {
    padding: 10px;
    margin: 10px;
}

/* .navigation--dark .navigation__link {
    color: white;
} */

.span {
    color: #ff0030;
}

.header {
    color: rgb(23, 35, 141);
    text-align: center;
}

.primaryHeader {
    color: blue
}

.secondaryHeader {
    color: green;
}

.secondaryHeaderDark {
    color: yellowgreen;
}

.themeName {
    color: crimson;
    font-weight: 700;
}

.tertiaryHeader {
    color: rgb(104, 182, 146);
}

/* .sectionTextShadow {
    text-shadow: 1px 1px #ff0030;
} */

.header__element {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}