     .ciekawyElement {
         color: #ff0030;
     }

     .pudelko {
         background-color: rgb(161, 194, 233);
         color: rgb(17, 1, 1);
     }

     .naglowek {
         background-color: rgb(238, 235, 63);
         color: rgb(23, 35, 141)
     }

     .podnaglowek {
         background-color: beige;
         color: black
     }

     .sectionTextShadow {
        text-shadow: 1px 1px #ff0030;
     }

     .body {
        color: black;
        background-color: #ccc;
     }

     .dark {
        color: #888;
        background: #888;
    }