html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    color: black;
    background-color: rgb(199, 230, 250);
    max-width: 800px;
    padding: 20px 20px;
    margin: 60px auto;
    overflow-x: auto;
    font-family: "lato", "sans-serif";
}

.strong {
    color: crimson;
}

.span {
    color: lightslategray;
}

.themeName {
    color: green;
    font-weight: 700;
}